/* Base styles remain unchanged */

body {
    background-color: #2AAED8;
    margin: 0;
}

.name {
    color: white;
    font-family: 'TT Commons', sans-serif;
    font-style: italic;
    font-size: 80px;
    font-weight: 100;
    margin-left: 100px;
    margin-bottom: 20px;
    text-shadow: -2px 2px 8px #ffffff;
}

.year {
    color: white;
    font-family: 'TT Commons', sans-serif;
    font-size: 35px;
    font-style: italic;
    font-weight: 100;
    margin-left: 110px;
}

.landing {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.myPhoto {
    margin-left: 50px;
    margin-bottom: 20px;
}

.heading {
    color: white;
    font-family: 'TT Commons', sans-serif;
    font-style: italic;
    font-size: 60px;
    font-weight: 100;
    margin-left: 100px;
    margin-bottom: 20px;
    text-shadow: -2px 2px 8px #ffffff;
}

.content {
    color: white;
    font-family: 'TT Commons', sans-serif;
    font-size: 40px;
    font-weight: 100;
    margin-left: 100px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.rounded-button {
    background-color: #D8542A;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    text-decoration: none;
    text-align: center;
}

.rounded-button:hover {
    background-color: #373737;
}

.companies {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.button-icon {
    height: 30px;
    width: 30px;
}

.club {
    width: 80px;
    height: 80px;
}

.clubs {
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    margin: 0 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'TT Commons', sans-serif;
}

.element {
    width: 200px;
    height: 280px;
    background-color: #ffffff;
    border-radius: 20px;
    margin-bottom: 30px;
    text-align: center; /* Ensure text is centered */
}

.project {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 50px;
    margin-bottom: 50px;
}

.pro {
    height: 280px;
    width: 200px;
    border-radius: 20px;
}

.projectContent {
    font-size: 16px;
    color: white;
    font-family: 'TT Commons', sans-serif;
    text-align: center;
}

.projects {
    margin-bottom: 300px;
}

.contact-me {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 90%;
    text-align: center;
}

.contact-form h2 {
    margin-bottom: 20px;
    color: #333333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: inline-block;
    margin-bottom: 5px;
    color: #333333;
    width: 100px;
    vertical-align: top;
}

.form-group input,
.form-group textarea {
    width: calc(100% - 110px);
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333333;
}

.form-group textarea {
    height: 100px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.custom-button {
    display: inline-flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50px;
    text-decoration: none;
    padding: 20px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    margin-left: 100px;
    margin-top: 100px;
}

.custom-button:hover {
    background-color: #f0f0f0;
}

.button-text {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #333333;
    margin-right: 10px;
}

.button-icon {
    font-family: 'TT Commons', sans-serif;
    font-size: 16px;
    color: #333333;
}

html {
    scroll-behavior: smooth;
}

/* Media Queries for Responsive Design */

@media screen and (max-width: 1200px) {
    .name {
        font-size: 60px;
    }

    .year {
        font-size: 30px;
    }

    .heading {
        font-size: 50px;
    }

    .content {
        font-size: 30px;
    }

    .projects {
        margin-bottom: 200px;
    }
}

@media screen and (max-width: 768px) {
    .name {
        font-size: 50px;
    }

    .year {
        font-size: 25px;
    }

    .heading {
        font-size: 40px;
    }

    .content {
        font-size: 25px;
        line-height: 1.4;
    }

    .projects {
        margin-bottom: 150px;
    }

    /* Center alignment for smaller screens */
    .landing,
    .companies,
    .clubs,
    .project {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 480px) {
    .name {
        font-size: 40px;
    }

    .year {
        font-size: 20px;
    }

    .heading {
        font-size: 30px;
    }

    .content {
        font-size: 20px;
    }

    .landing,
    .companies,
    .clubs,
    .project {
        flex-direction: column;
        align-items: center;
        margin: 0 20px;
    }

    .clubs {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .projectContent {
        font-size: 14px; /* Adjusted font size for better visibility */
    }

    .custom-button {
        margin-left: 0;
        margin-top: 50px;
    }
}
